asgiref==3.9.1
certifi==2025.7.14
Django==5.2.4
numpy
packaging==25.0
pandas==2.3.1
patsy==1.0.1
polygon-api-client==1.15.3
python-dateutil==2.9.0.post0
pytz==2025.2
scipy
six==1.17.0
sqlparse==0.5.3
statsmodels==0.14.5
tzdata==2025.2
urllib3==2.5.0
websockets==14.2
